* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}
/* START HEADER */
header {
   margin: 15px 0;
}
.logo img {
   width: 75px;
   height: 30px;
   margin-top: 0px;
}
ul {
   list-style: none;
}
ul li {
   display: inline;
}
img {
   vertical-align: middle;
   border-style: none;
}
a {
   text-decoration: none;
   transition: all .3s;
}
.nav-item a {
   font-size: 13px;
   text-decoration: none;
   color: black;
}
.navbar {
   margin-top: 5px;
   margin-right: 4px;
}
.nav-item {
   font-size: 13px;
   text-transform: uppercase;
   font-weight: 700;
   line-height: 19px;
   margin-left: 20px;
}
.nav-item a:hover {
   color: blue;
}
.lang-wrapper {
   top: 6px;
   left: 8px;
   font-weight: 600;
   border-radius: 16px;
   border: 1px solid #E6E6E6FF;
   background-color: #E6E6E6FF;
   padding: 6px 34px 6px 14px;
   cursor: pointer;
   color: #000;
   font-size: 13px;
   letter-spacing: .05;
   font-weight: 300;
   position: relative;
}
.lang-wrapper::before {
   position: absolute;
   content: "";
   top: 0;
   bottom: 0;
   right: 2px;
   margin: auto;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url('https://kun.uz/assets/3d48c862/img/toggle-circle-v2.svg');
   width: 24px;
   height: 24px;
}
a .lang-wrapper {
   font-size: 14px;
}
.search {
   position: relative;
   left: 120px;
   bottom: 20px;
}

/* THE END HEADER */

/* STARD TOP-NEWS */

.top-news {
   height: 450px;
   background-color: #EFF2F8FF;
}
.top-news_big img {
   width: 100%;
   height: 450px;
   object-fit: cover;
}
.big-news_content {
   margin-left: 15px;
}
.big-news_content h2 {
   font-size: 20px;
   line-height: 27px;
   font-weight: bold;
   color: #000;
   margin-top: 10px;
   margin-bottom:20px;
   transition: .2s ease;
   display: block;
}
.big-news_content p {
   line-height: 26px;
   font-size: 14px;
   font-weight: 500;
   color: #000;
}
.news-meta {
  margin-top: 15px;
  opacity: .8;
  color: #000;
  font-size: 12px;
  padding-left: 20px;
  background-image: url('https://kun.uz/assets/3d48c862/img/calendar.svg');
  background-repeat: no-repeat;
  background-size: contain;
}


/*.top-news_small-items {
   margin: 20px 0 0 0;
}*/
.small-news {
   margin-bottom: 10px;
}

.small-news_img img {
   width: 165px;
   height: 110px;
   margin-top: 10px;
   overflow: hidden;
}

.small-news_content {
   margin-left: 55px;
}
.small-news_content p {
   margin-top: 5px;
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 21px;
   color: #000;
   font-weight: bold;
   transition: .2s ease;
}

.block-title span {
   color: #000;
   font-size: 20px;
   font-weight: bold;
   position: relative;
   display: block;
   padding-left: 35px;
}
.block-title span::before {
   content: "";
   position: absolute;
   left: 0;
   top: 2px;
   width: 12px;
   height: 12px;
   border-radius: 100%;
   border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
   background: transparent;
   border: 5px solid #17206A;
}

.news {
   margin-top: 10px;
   margin-right: 20px;
}
.news img {
   width: 100%;
   margin-left: 10px 0;
}
.news a {
   color: #000;
   font-size: 16px;
   font-weight: bold;
   line-height: 22px;
   transition: .2s ease;
}

.news-data {
   margin-top: 13px;
   margin-bottom: 12px;
   opacity: .8;
   color: #000;
   font-size: 12px;
   padding-left: 20px;
   background-image: url('https://kun.uz/assets/3d48c862/img/calendar.svg');
   background-repeat: no-repeat;
   background-size: contain;
}

.new_title {
   margin-left: 50px;
}

.news-lenta {
   padding-bottom: 18px;
   border-bottom: 1px solid #d3d3d3;
   margin: 18px 0;
}

.news-lenta_title {
   margin-top: 4px;
   font-size: 14px;
   font-weight: 600;
   line-height: 27px;
   color: #000;
   transition: .2s ease;
   cursor: pointer;
   margin-bottom: 5px;
}

a:hover, p:hover, h2:hover {
   color: blue;
}

.strel {
   position: relative;
}
.main-btn {
   position: absolute;
   top: 15px;
   font-weight: 600;
   padding: 18px 100px;
   font-size: 14px;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   border-left: 2px solid #2246c5;
   background-color: #f0f0f0;
   padding-left: 23px;
   transition: all .3s ease;
   color: #000;
}
.main-btn::after {
   content: "";
   position: absolute;
   width: 20px;
   height: 20px;
   right: 18px;
  background-image: url('https://kun.uz/assets/99110d40/img/silver-arrow-right.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
/* THE END TOP-NEWS */

/* START CURRENT-NEWS */
.current-news {
   margin-top: 5px;
}
.firss {
   margin-top: 60px;
}
.current-news_git img{
   margin-top: 4px;
   width: 100%;
}

.current-news_content h2 {
   font-size: 20px;
   font-weight: bold;
   line-height: 21px;
   margin-top: 15px;
   margin-bottom: 20px;
}
 .current-news_content p {
   font-size: 14px;
   font-weight: 600;
   line-height: 27px;
 }

 .news-current_big img {
   width: 100%;
 }
 .news-current_big h2{
   font-size: 16px;
   font-weight: 600;
   margin-top: 15px;
   line-height: 20px;
 }
 /* THE END NEWS-CURRENT */

 /* START INTERVYU */
 #interview {
   padding: 10px 25px;
   margin-top: 23px;
   height: 430px;
   background-color: #F0F0F0FF;
 }
 .beetwen {
   margin-top: 20px;
   justify-content: space-between;
   align-items: center;
 }
 .rightt {
   position: relative;
   right: 0px;
 }
 .inter {
   position: absolute;
   right: 60px;
   font-size: 22px;
   font-weight: bold;
   color: blue;
   bottom: 0.5px;
 }
 .rightt::after {
   content: "";
   width: 15px;
   height: 15px;
   background-image: url('https://kun.uz/assets/99110d40/img/blue-right-arrow.svg');
   background-repeat: no-repeat;
   padding-left: 40px;
   background-size: contain;
 }

.inter-man {
   margin-top: 35px;
   position: relative;
   width: 347px;
   height: 287px;
   left: 15px;
   margin-right: 18px;
   background-color: #fff;
}
.inter-man img {
   width: 100%;
   position: absolute;
   box-shadow: 10px 10px 4px blue;
}
.inter-man_img {
   width: 220px;
   height: 140px;
   position: absolute;
   right: 50px;
   top: -10px;
}
.inter-man p{
   font-size: 16px;
   font-weight: 600;
   line-height: 21px;
   margin-top: 180px;
   margin-left: 10px;
}
/* THE END INTERVYU */

/* START CONSULTATION */
.colsultation {
   margin-top: 40px;
}

.news-consul,.newsconsul {
   margin-top: 25px;
}
.relative1 {
   position: relative;
   width: 100%;
   height: 510px;
   background-color: #f0f0f0;
}

.news-consul_content p{
   margin-top: 25px;
   padding: 0 20px;
   font-size: 20px;
   font-weight: 600; 
   line-height: 25px;
}

.consul-army p {
   margin-left: 18px;
   margin-top: 8px;
   font-size: 16px;
   line-height: 20px;
   font-weight: 600;
}
.consul-army_img img {
   width: 170px;
   height: 110px;
   margin-bottom: 35px;
}
/* THE END CONSULTATION */

/* START ARTICLES */
.separate-content {
   margin-top: 60px;
}
.all {
   margin-left: 880px;
   color: blue;
   margin-right: 15px;
   font-size: 16px;
   font-weight: 600;
}
.articles-uzbek {
   margin-top: 25px;
}
.articles-uzbek img{
    width: 100%;
}
.articles-uzbek h2 {
   margin-top: 15px;
   margin-bottom: 24px;
   font-size: 18px;
   font-weight: 600;
   line-height: 21px;
}
.articles-uzbek p {
   font-size: 16px;
   font-weight: 500;
   line-height: 25px;
}


.news-knife {
   margin-top: 50px;
}
.news-knife img {
   width: 100%;
}
.news-knife h2 {
   margin-top: 15px;
   margin-bottom: 24px;
   font-size: 18px;
   font-weight: 600;
   line-height: 20px;
}
.news-knife p {
   font-size: 16px;
   font-weight: 500;
   line-height: 25px;
}

.business-content {
   margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}
.business p {
   margin-top: 6px;
   margin-left: 10px;
   font-size: 14px;
   font-weight: 700;
   color: #000;
}
.cooperation a {
   margin-top: 4px;
   margin-right: 6px;
   font-size: 14px;
   font-weight: 600;
   color: blue;
}
/* THE END ARTICLES */


/* START UZMOTORS */
.uzmotors {
   margin-top: 50px;
   height: 448.25px;
   margin-right: 15px;
   background-color: #f0f0f0;
}
.national {
   margin-left: 15px;
}
.national-content {
   width: 258.2px;
   height: 365px;
   margin-top: 30px;
   background: #fff;
}
.national img{
   width: 100%;
}
.national h2 {
   font-size: 17px;
   font-weight: bold;
   line-height: 24px;
   margin-left: 40px;
   margin-top: 25px;
}

.payme-content {
   width: 258.2px;
   height: 365px;
   margin-top: 30px;
   background: #fff;
}
.payme img {
   width: 100%;
}
.payme h2{
   font-size: 17px;
   font-weight: bold;
   line-height: 26px;
   margin-left: 40px;
   margin-top: 25px;
}

.towkent-content {
   width: 253px;
   height: 365px;
   margin-top: 30px;
   background: #fff;
}
.towkent img{
   width: 253.2px;
   height: 150.25px;
}
.towkent h2{
   font-size: 16px;
   font-weight: bold;
   line-height: 24px;
   margin-left: 40px;
   margin-top: 25px;
}

.uzauto-content{
   width: 253.2px;
   height: 365px;
   margin-top: 30px;
   background: #fff;
}
.uzauto img{
   width: 253.2px;
   height: 150.25px;
}
.uzauto h2{
   font-size: 17px;
   font-weight: bold;
   line-height: 24px;
   margin-left: 40px;
   margin-top: 25px;
}
/* THE END UZMOTORS */

/* START VIDEO-NEWS */
.newsvideo {
   margin-top: 20px;
   margin-bottom: 50px;
}

.video-content {
   position: relative;
}

.video-content span::before {
   content: "";
   width: 10px;
   height: 10px;
   border-radius: 100%;
   background: transparent;
   border: 5px solid #17206A;
}
.rondom span{
   margin-left: 22px;
   font-size: 16px;
   font-weight: 600;
   color: #2a2929;
}
.rondom span::before {
   content: "";
   position: absolute;
   border-radius: 100%;
   left: 3px;
}
.bomm{
   position: absolute;
   right: 0;
}
.bomm::after{
   content: "";
   position: absolute;
   width: 15px;
   height: 15px;
   top: 6px;
   right: 5px;
   background-image: url('https://kun.uz/assets/99110d40/img/blue-right-arrow.svg');
   background-repeat: no-repeat;
   background-size: contain;
}
.strel {
   font-size: 16px;
   font-weight: 600;
   color: blue;
   margin-right: 22px;
}

.video-dev iframe{
   width: 100%;
}
.half-video{
   width: 100%;
}
.half-video iframe{
   width: 100%;
}
.half-video, .half-videoo p{
   font-size: 18px;
   font-weight: bold;
   line-height: 20px;
}
.half-videoo iframe{
   width: 100%;
}
.image-dev img{
   width: 100%;
}


.half-image img{
   width: 100%;
   margin-top: 8px;
}
.half-imagee img{
   width: 100%;
}
.half-image, .half-imagee p{
   font-size: 18px;
   font-weight: bold;
   line-height: 22px;
}
.paragrov{
   margin-top: 10px;
}
/* THE END VIDEO-NEWS */


/* START FOOTER */
#last-news{
   margin-top: 50px;
}

.image-img {
   position: relative;
   left: 250px;
}
.footer-list {
   width: 100%;
   height: 55px;
   
   background-color: #1C2680FF;
   align-items: center;
   list-style: none;
   color: #fff;
}
.footer-item {
   position: relative;
   font-size: 20px;
   font-weight: 700;
   margin-left: 20px;
   margin-right: 14px;
   top: 18px;
}


.half-content{
   height: 210px;
   background-color: #17206AFF;
   color: #fff;
}
.footer-content{
  margin-top: 20px;
}
.poragrov{
   margin-left: 10px;
   font-size: 13px;
   line-height: 20px;
}
.footer-logo{
   margin: 0 auto;  
}
.list-news{
   margin-top: 70px;
  
}
.item-news{
   margin-right: 20px;
}
/* THE END FOOTER */